body {
  background-color: rgb(236, 236, 236);
}

h1 { 
    padding-left: 10px;
}

h2 {
  padding-left: 10px;
}

p {
    padding-left: 10px;
}

a {
    padding-left: 10px;
}

  .hitag {
    padding-top: 10px;
  }



 img {
   padding-left: 10px;
 }
 
 .w3schools {
   padding-bottom: 10px;
 }

 .hello {
   background-color: rgb(194, 194, 194);
   text-align: center;
 }

 .h1hello{
   padding-top: 10px;
   padding-bottom: 10px;
  }

  .circle {
    width: 10%;
  border-radius: 100%;
}

.phello {
  padding-bottom: 15px;
}

.table {
  padding-left: 10px;
}